name: Docker Deploy

on:
  push:
    tags: [ 'v*.*.*' ]

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      git_tag: ${{ steps.git_info.outputs.tag }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - id: set-matrix
        run: |
          JSON=$(cat .github/workflows/registry.json | tr '\n' ' ' | sed 's/ //g')
          echo "::set-output name=matrix::$JSON"

      - id: git_info
        run: |
          tag=$(echo ${{ github.ref }} | rev | cut -d/ -f1 | rev)
          echo "::set-output name=tag::$tag"

  build:
    runs-on: ubuntu-latest
    needs: [ set-matrix ]
    strategy:
      matrix:
        registry: ${{fromJSON(needs.set-matrix.outputs.matrix)}}
        alpine: [ 3.16, 3.17 ]

    env:
      id: ${{ secrets[matrix.registry.id] }}
      token: ${{ secrets[matrix.registry.token] }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log into Registry ${{ matrix.registry.name }}
        uses: docker/login-action@v2
        with:
          registry: ${{ matrix.registry.registry }}
          username: ${{ env.id }}
          password: ${{ env.token }}

      - name: Set Up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v2

      - name: Set Up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Build and Push ${{ matrix.registry.name }}
        run: |
          REPO=${{ matrix.registry.push_link }} ALPINE_VERSION=${{ matrix.alpine }} VERSION=${{ needs.set-matrix.outputs.git_tag }} docker buildx bake --file docker/docker-bake.hcl --push --set "*.platform=linux/arm64,linux/amd64,linux/s390x,linux/386,linux/arm/v7,linux/arm/v6"

  release:
    runs-on: ubuntu-latest
    needs: [ build ]

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true